html, body {
  background-color: hsl(0, 0%, 11%);
  margin: 0;
  height: 100%;
  font-family: "Inter", sans-serif;

}

* {
  box-sizing: border-box;
  
}
header {
    background-image: url("/images/backgroud-img.png");
  background-color: #0E0E0E;
  padding-top: 1em;
}
.dark-mode-toggle-container{
  display: flex;
  justify-content: end;
  padding: 0 1em;
}
button.theme-toggle {
  border: none;
  background-color: transparent;
  color: white;
  border: 1px solid #ffffff33;
}

.theme-toggle {
  width: 60px;
  height: 30px;
  border-radius: 999px;
  border: none;
  background-color: #ffffff33;
  backdrop-filter: blur(5px);
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 5px;
  overflow: hidden;
  
}

.theme-toggle .icon {
  font-size: 1em;
  transition: transform 0.3s ease;
  position: absolute;
  left: 4px;
  
}

body.dark-mode .theme-toggle {
  justify-content: flex-end;
  background-color: #22222266;
  
}

body.dark-mode .theme-toggle .icon {
  content: '🌙';
  transform: translateX(30px); /* Move icon right */
}


.header-content {
  padding: 0em 1em 1em 1em;
  display: flex;
  justify-content:space-between;
  color: white;
  min-height: 7em;
  align-items: center;
  position: relative;
}
h1 {
  font-size: 1em;
}
h2 {
  font-size: 0.9em;
  margin: 0;
  cursor: pointer;
}
h2:hover {
  color: #A5A5A5;
}

.search-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
  align-items: center;
  transform: translate(-50%, 50%);
  border: 1.5px solid #DFE1E4;
  border-radius: 5px;
  width: 90%;
  background-color: white;
  justify-content: space-between;
}
body.dark-mode .search-container {
  background-color: #4B4B4B;
  border: none;
  
}
#search-button{
  color: #374151;
  margin: 0;
  border: none;
  border-left: 1.5px solid #DFE1E4;
  background-color: #F9FAFB;
  align-self: stretch;
  padding: 0em 2em;
  cursor: pointer;
  font-weight: bold;
  font-family: inherit;
}

body.dark-mode #search-button {
  background-color: #A5A5A5;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
}
#search-input{
  justify-self:left;
  border: none;
  width: 100%;
  font-family: inherit;
}
body.dark-mode #search-input{
  background-color: #4B4B4B;
  color: #A5A5A5;
}

#search-input:focus {
  outline: none;
}
.search-icon {
  width: 1em;
  height: 1em;
  margin: 0.7em;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #22222266;
  text-align: center;
  width: auto;
  color: white;
  padding: 1.5em;
  margin: 0;
  
  
}
p.footer{
  font-size: 0.9em;
}

.movie-list, .watchlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  max-width: 100%;
  }
.explore-text,.error-message {
  color:#DFDDDD;
  text-align: center;
  font-weight: bold;
}
body.dark-mode .explore-text, body.dark-mode .error-message, body.dark-mode .watchlist h3 {
  color: #787878;
}
body.dark-mode h4.explore-text {
  color: white;
}


main{
  background-color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  
}
.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
 
}

.empty-watchlist {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:0.5em;
  height: 100%;
}
.watchlist h3 { 
  color: #DFDDDD;
  margin-bottom: 0;
  text-align: center;
  font-size: 1em;
}
.empty-watchlist h4 {
   color: #363636;

}
.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
  
}
p.movie-plot{
  margin:0;
  color: #6B7280;
  font-size: 0.75em;
}

body.dark-mode p.movie-plot {
  color: #A5A5A5;
}
a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.movie { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
  border-bottom: 2px solid #E5E7EB;
  padding: 1.1em 0;
}

.movie-poster {
  width: 90%;
  border-radius: 4px
}
.movie-title-rating {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5em;
}
h3.movie-title {
  margin: 0;
  color: #363636;
  font-size: 0.9em;
}

body.dark-mode h3.movie-title {
  color: white;
}
.movie-runtime-genre{
  display: flex;
  gap:0.5em;
  justify-content: start;
  align-items: center;
}
p.movie-runtime, p.movie-genre {
  margin: 0;
  font-size:0.7em;
  color: #111827;
}
body.dark-mode p.movie-runtime, body.dark-mode p.movie-genre {
  color: white;
}
.add-to-watchlist-container, .remove-from-watchlist {
  display: flex;
  align-items: center;  
}
img.add-icon {
  width: 1.2em;
  height: 1.2em;
}

button.add-to-watchlist, button.remove-btn {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: transparent;
  font-size: 0.7em;
  color: #111827;
  
}

body.dark-mode button.add-to-watchlist, body.dark-mode button.remove-btn {
  color: white;
}

button.add-to-watchlist:hover, button.remove-btn:hover {
  color: grey;
}

.movie-rating {
  display: flex;
  align-items: center;
  gap: 0.2em;
}
.movie-rating p {
  font-size: 0.7em;
}
body.dark-mode .movie-rating p {
  color: white;
}

body.dark-mode main {
  background-color: #121212;
}
@media (min-width: 768px) {
  .movie-list, .watchlist {
    max-width: 50%;
    margin: 1em 0;
    
  }
  .movie-poster{
    width: 30%;
   
  }
  .movie-info {
    align-items: start;
    
  }
  h3.movie-title {
    font-size: 1.4em;
  }
  .movie {
    padding: 2em 0;
    gap: 2em;
    flex-direction: row;
  }
  .movie-title-rating, .movie-runtime-genre {
    gap: 1em;
  }
  p.footer{
    font-size: 1em;
  }
  p.movie-runtime, p.movie-genre {

    font-size:0.9em;
  }
  button.add-to-watchlist, button.remove-btn {
    font-size: 0.9em;
  }
  .layout {
    padding: 1em;
  }

  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
  }
  .search-icon {
    width: 1.3em;
    height: 1.3em;

  }
  .watchlist h3{
    font-size: 1.2em;
  }
  p.movie-plot{
    font-size: 1em;
  }
  .movie-rating p {
  font-size: 0.9em;
}
}